img {
  width: 100px;
  height: 100px;
}

ul {
  font-size: 20px;
  font-weight: bolder;
}

.show {
  width: 200px;
  height: 200px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: url(retina_wood.png);
}