img {
  width: 240px;
  height: 200px;
  margin: 5px; 
}

ul .error {
  color: red;
}
.order_info {
  font-weight: bold;
  font-size: 20px;
}

.tr-th-size {
  font-size: 22px;
}

.quantity{
  margin: 20px;
}

.info-background {
  background: #FFFFFF;
  border-radius: 10px;
  list-style-type: none;
}

/*.black {
  background-color:  rgba(42, 63, 142 , 0.5); 
}*/

.order-show {
  background-color: white;
  font-size: 18px;
  font-family:  "Arial Black", Gadget, sans-serif;
  padding: 0px 0px 10px 50px;
  border-radius: 25px; 
}

.buy_more {
  font-family:  "Arial Black", Gadget, sans-serif;
  font-size: 25px;
}
ul {
  font-size: 20px;
  font-weight: bolder;
}

.show {
  width: 200px;
  height: 200px;
}

.sale {
  color: red;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background: url(retina_wood.png);
}

.navbar-default {
  background-color: #2e459c;
  border-color: #77b2cc;
}
.navbar-default .navbar-brand {
  color: #53a2b6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d6e12b;
}
.navbar-default .navbar-text {
  color: #53a2b6;
}
.navbar-default .navbar-nav > li > a {
  color: #53a2b6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d6e12b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2e459c;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #53a2b6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d6e12b;
  background-color: #77b2cc;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #77b2cc;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #d6e12b;
  background-color: #77b2cc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d6e12b;
  background-color: #77b2cc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d6e12b;
  background-color: #77b2cc;
}
.navbar-default .navbar-toggle {
  border-color: #77b2cc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #77b2cc;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #53a2b6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #53a2b6;
}
.navbar-default .navbar-link {
  color: #53a2b6;
}
.navbar-default .navbar-link:hover {
  color: #d6e12b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #53a2b6;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d6e12b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d6e12b;
    background-color: #77b2cc;
  }
}