<h1>products list:</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  <%@products.each do |product| %>
  <tr>
    <td> <%= product.name %></td>
    <td> <%= product.description%></td>
    <td> <%= product.price %></td>
    <td> <img src="<%= product.image %>"> </td>
  <% end %>
  </tr>

</table>